-BOOTSPLASH y
-DRM_I915_FORCE_PROBE "*"
-DRM_I915_SPIN_REQUEST 5
-DRM_I915_USERFAULT_AUTOSUSPEND 250
-TICK_CPU_ACCOUNTING y
-USER_NS_UNPRIVILEGED y
 DEFAULT_HOSTNAME "manjaro" -> "archlinux"
 GOOGLE_SMI n -> m
 INIT_ON_ALLOC_DEFAULT_ON y -> n
 LOCALVERSION "-MANJARO" -> ""
 MODVERSIONS y -> n
 NO_HZ_FULL n -> y
 NO_HZ_IDLE y -> n
 RCU_FANOUT 64 -> 32
 RCU_NOCB_CPU n -> y
 RMI4_F54 n -> y
 SECURITY_DMESG_RESTRICT y -> n
 SLUB_CPU_PARTIAL y -> n
 SND_SOC_FSL_AUDMIX n -> m
 SND_SOC_FSL_MICFIL n -> m
 SND_SOC_INTEL_SKYLAKE_HDAUDIO_CODEC n -> y
 SND_SOC_SOF_TOPLEVEL n -> y
 VIRT_CPU_ACCOUNTING_GEN n -> y
 X86_INTEL_TSX_MODE_AUTO y -> n
 X86_INTEL_TSX_MODE_OFF n -> y
 X86_X32 y -> n
+CONTEXT_TRACKING y
+CONTEXT_TRACKING_FORCE n
+INTEL_IPTS m
+INTEL_IPTS_SURFACE m
+SND_SOC_HDAC_HDA m
+SND_SOC_INTEL_SKL_HDA_DSP_GENERIC_MACH m
+SND_SOC_INTEL_SOF_RT5682_MACH m
+SND_SOC_SOF m
+SND_SOC_SOF_ACPI m
+SND_SOC_SOF_APOLLOLAKE m
+SND_SOC_SOF_APOLLOLAKE_SUPPORT y
+SND_SOC_SOF_BAYTRAIL m
+SND_SOC_SOF_BAYTRAIL_SUPPORT y
+SND_SOC_SOF_BROADWELL m
+SND_SOC_SOF_BROADWELL_SUPPORT y
+SND_SOC_SOF_CANNONLAKE m
+SND_SOC_SOF_CANNONLAKE_SUPPORT y
+SND_SOC_SOF_COFFEELAKE m
+SND_SOC_SOF_COFFEELAKE_SUPPORT y
+SND_SOC_SOF_COMETLAKE_H m
+SND_SOC_SOF_COMETLAKE_H_SUPPORT y
+SND_SOC_SOF_COMETLAKE_LP m
+SND_SOC_SOF_COMETLAKE_LP_SUPPORT y
+SND_SOC_SOF_DEBUG n
+SND_SOC_SOF_GEMINILAKE m
+SND_SOC_SOF_GEMINILAKE_SUPPORT y
+SND_SOC_SOF_HDA m
+SND_SOC_SOF_HDA_ALWAYS_ENABLE_DMI_L1 n
+SND_SOC_SOF_HDA_AUDIO_CODEC y
+SND_SOC_SOF_HDA_COMMON m
+SND_SOC_SOF_HDA_LINK y
+SND_SOC_SOF_HDA_LINK_BASELINE m
+SND_SOC_SOF_ICELAKE m
+SND_SOC_SOF_ICELAKE_SUPPORT y
+SND_SOC_SOF_INTEL_ACPI m
+SND_SOC_SOF_INTEL_ATOM_HIFI_EP m
+SND_SOC_SOF_INTEL_COMMON m
+SND_SOC_SOF_INTEL_HIFI_EP_IPC m
+SND_SOC_SOF_INTEL_PCI m
+SND_SOC_SOF_INTEL_TOPLEVEL y
+SND_SOC_SOF_MERRIFIELD m
+SND_SOC_SOF_MERRIFIELD_SUPPORT y
+SND_SOC_SOF_NOCODEC_SUPPORT n
+SND_SOC_SOF_OPTIONS m
+SND_SOC_SOF_PCI m
+SND_SOC_SOF_PROBE_WORK_QUEUE y
+SND_SOC_SOF_STRICT_ABI_CHECKS n
+SND_SOC_SOF_XTENSA m
+SURFACE_3_POWER_OPREGION m
+SURFACE_BOOK2_DGPU_HPS m
+SURFACE_SAM m
+SURFACE_SAM_DTX m
+SURFACE_SAM_SAN m
+SURFACE_SAM_SID m
+SURFACE_SAM_SID_GPELID m
+SURFACE_SAM_SID_PERFMODE m
+SURFACE_SAM_SID_POWER m
+SURFACE_SAM_SID_VHF m
+SURFACE_SAM_SSH m
+SURFACE_SAM_SSH_DEBUG_DEVICE y
+SURFACE_SAM_VHF m
+VIRT_CPU_ACCOUNTING y
