INTEL_IPTS=m
INTEL_IPTS_SURFACE=m
SURFACE_3_POWER_OPREGION=m
SURFACE_BOOK2_DGPU_HPS=m
SURFACE_SAM=m
SURFACE_SAM_DTX=m
SURFACE_SAM_SAN=m
SURFACE_SAM_SID=m
SURFACE_SAM_SID_GPELID=m
SURFACE_SAM_SID_PERFMODE=m
SURFACE_SAM_SID_POWER=m
SURFACE_SAM_SID_VHF=m
SURFACE_SAM_SSH=m
SURFACE_SAM_SSH_DEBUG_DEVICE=y
SURFACE_SAM_VHF=m
